<nav>
    <ul>
<!--        <a onclick="location.href='/testPage.html'"><img src="../" alt="">로고</a>-->
        <a href="/testPage/mainlo">메인라운지</a>
        <a href="/testPage/meeting">모임</a>
        <a href="/testPage/post">자유게시판</a>
        <a href="/testPage/noti" >공지사항</a>
        <th:block th:if="${loginout != null}">
        <a href="/testPage/login" >로그인</a>
        <a href="/testPage/join" >회원가입</a>
        </th:block>

        <th:block th:if="${loginout == null}">
        <a href="/testPage/login" >로그아웃</a>
        <a href="/testPage/join" >마이페이지</a>
        </th:block>
    </ul>
</nav>