<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/static/javascript/include.js"></script>
</head>
<style>

  nav{
      font-size: 12pt;
      position: relative;
  }
  #mid-content {

    height: 600px;
    background-color: darkseagreen;
  }

  #search {
    width: 500px;
    margin: auto;
    justify-content: center;
  }

</style>
<body>

<h1 onclick="location.href='/testPage.html'"><img src="../" alt="">로고</h1>
<ul>
<th:block th:each="mem : ${list}">
[[${mem}]]
</ul>
<nav data-include-path="/static/nav.html"></nav>
<div id = "mid-content" >
  <div class="search">
    <input id = "search" type="text" placeholder="검색어 입력">

    <form method = "get" action ="/meeting/search">
      검색어 : <input type = "search" name = "keyword" >
      <input type = "submit" value = "검색">
    </form>
    <hr>
  </div>
  <select name="list" id="list">
    <option value="">좋아요 순</option>
    <option value="">가나다 순</option>
    <option value="">최신순</option>
    <option value="">###</option>
  </select>
</div>

<footer style="background-color: aqua;"><p>footer 영역</p></footer>
</body>
<script>
  includeHTML.includeHTML();
</script>
</html>