<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="location.href = '/meeting/board'">전체</button>
<th:block th:each="e:${ctgr_list}">
    <a th:text="${e}" th:href="@{/meeting/board/{page}(page=${e})}" style="text-decoration-line: none"></a>
</th:block>
<hr>
<form method="get" th:action="/meeting/board">
    검색 : <label><input name="search" /><br></label>
    <input type="submit" value="검색"/>
</form>
<hr>
<button onclick="location.href='/meeting/insertMetForm.html'"></button>
<ul th:each="e:${met_list}">
    <li th:text="${e.getCategory()}"></li>
    <li th:text="|장소: ${e.getLocation()}|"></li>
    <li th:text="|제목: ${e.getTitle()}|"></li>
    <li th:text="|내용: ${e.getContent_text()}|"></li>
    <li th:text="|작성자: ${e.getWriter_nickname}|"></li>
    <br>
</ul>
<hr>
<h2 th:text="${page_num}"></h2>

</body>
</html>