.card-header.text-center {
    background-color: white;
    border-bottom: none;
    margin-top: 30px;
}
button.btn.btn-primary.btn-block {
    margin-bottom: 8px;
    background-color: #5302FE;
}
button#register_button {
    border-color: #5302FE;
    background-color: white;
}
#register_text{
    color:#5302FE;
}
.card {
    width: 580px;
    height: 430px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
.form-group {
    margin-bottom: 20px;
}

/* 입력 필드와 회원가입 버튼의 너비를 동일하게 만듭니다. */
.form-control, .btn {
    width: 100%;
}

/* 페이지를 가운데 정렬합니다. */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}