@charset "UTF-8";
#frame307{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 48px;

    width: 580px;
    height: 884px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
 }


/*!* 30px Medium Title Bold *!*/
#titleregister{
    width: 111px;
    height: 36px;

    /* Medium Title Bold 30px */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    /* Black */
    color: #111827;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
#titleregisterbox{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    width: 111px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame304{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;

    width: 484px;
    height: 704px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}








/*!* Section Text *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-end;*/
/*padding: 0px;*/
/*gap: 8px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 📎🟢Input element *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 390px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 360px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 86px;*/
/*height: 40px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* _base.Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 12px 15px 10px;*/
/*gap: 10px;*/

/*width: 86px;*/
/*height: 40px;*/

/*background: #5302FE;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 15px Body Bold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 56px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Body Bold 15px *!*/

/*width: 56px;*/
/*height: 18px;*/

/*!* Body Bold 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* White *!*/
/*color: #FFFFFF;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 📎🟢Input element *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 484px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 454px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 484px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 454px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Section Text *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-end;*/
/*padding: 0px;*/
/*gap: 8px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*flex-grow: 0;*/


/*!* 📎🟢Input element *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 390px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 360px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 86px;*/
/*height: 40px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* _base.Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 12px 15px 10px;*/
/*gap: 10px;*/

/*width: 86px;*/
/*height: 40px;*/

/*background: #5302FE;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 15px Body Bold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 56px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Body Bold 15px *!*/

/*width: 56px;*/
/*height: 18px;*/

/*!* Body Bold 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* White *!*/
/*color: #FFFFFF;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 🟢 Checkbox button row *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 484px;*/
/*height: 137px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 4;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 484px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Frame 175 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 25px;*/

/*width: 484px;*/
/*height: 116px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Column *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 20px;*/

/*width: 144.67px;*/
/*height: 116px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*border: 1px solid #5302FE;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Frame 189 *!*/

/*width: 12px;*/
/*height: 12px;*/

/*background: #5302FE;*/
/*border-radius: 1px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:check *!*/

/*position: absolute;*/
/*width: 8px;*/
/*height: 8px;*/
/*left: 2px;*/
/*top: 2px;*/



/*!* Vector *!*/

/*position: absolute;*/
/*left: 16.67%;*/
/*right: 16.67%;*/
/*top: 25%;*/
/*bottom: 29.17%;*/

/*!* White *!*/
/*border: 1px solid #FFFFFF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 97px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 97px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*color: #5302FE;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:square *!*/

/*width: 16px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Vector *!*/

/*position: absolute;*/
/*left: 12.5%;*/
/*right: 12.5%;*/
/*top: 12.5%;*/
/*bottom: 12.5%;*/

/*background: #FFFFFF;*/
/*!* Light Gray *!*/
/*border: 1px solid #9CA3AF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 99px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 99px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Column *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 20px;*/

/*width: 144.67px;*/
/*height: 116px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 1;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:square *!*/

/*width: 16px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Vector *!*/

/*position: absolute;*/
/*left: 12.5%;*/
/*right: 12.5%;*/
/*top: 12.5%;*/
/*bottom: 12.5%;*/

/*background: #FFFFFF;*/
/*!* Light Gray *!*/
/*border: 1px solid #9CA3AF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 99px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 99px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:square *!*/

/*width: 16px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Vector *!*/

/*position: absolute;*/
/*left: 12.5%;*/
/*right: 12.5%;*/
/*top: 12.5%;*/
/*bottom: 12.5%;*/

/*background: #FFFFFF;*/
/*!* Light Gray *!*/
/*border: 1px solid #9CA3AF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 99px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 99px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Column *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 20px;*/

/*width: 144.67px;*/
/*height: 116px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*flex-grow: 1;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:square *!*/

/*width: 16px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Vector *!*/

/*position: absolute;*/
/*left: 12.5%;*/
/*right: 12.5%;*/
/*top: 12.5%;*/
/*bottom: 12.5%;*/

/*background: #FFFFFF;*/
/*!* Light Gray *!*/
/*border: 1px solid #9CA3AF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 99px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 99px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 🟢 Checkbox button *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 15px;*/
/*gap: 10px;*/

/*width: 144.67px;*/
/*height: 48px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base checkbox icon *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 14px;*/
/*height: 12px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* fi:square *!*/

/*width: 16px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Vector *!*/

/*position: absolute;*/
/*left: 12.5%;*/
/*right: 12.5%;*/
/*top: 12.5%;*/
/*bottom: 12.5%;*/

/*background: #FFFFFF;*/
/*!* Light Gray *!*/
/*border: 1px solid #9CA3AF;*/


/*!* 15px Body Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 5px;*/

/*width: 98px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* Body Semibold 15px *!*/

/*width: 98px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Section Text *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-end;*/
/*padding: 0px;*/
/*gap: 8px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 5;*/
/*flex-grow: 0;*/


/*!* 📎🟢Input element *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 390px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 390px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 390px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 360px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 360px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 86px;*/
/*height: 40px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*flex-grow: 0;*/


/*!* _base.Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 12px 15px 10px;*/
/*gap: 10px;*/

/*width: 86px;*/
/*height: 40px;*/

/*background: #5302FE;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 15px Body Bold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 56px;*/
/*height: 18px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Body Bold 15px *!*/

/*width: 56px;*/
/*height: 18px;*/

/*!* Body Bold 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* White *!*/
/*color: #FFFFFF;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* 📎🟢Input element *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 6;*/
/*flex-grow: 0;*/


/*!* Frame 35 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 3px;*/

/*width: 484px;*/
/*height: 59px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Input Caption *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Frame 16 *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 13px Microcopy Semibold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 16px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Microcopy Semibold 13px *!*/

/*width: 484px;*/
/*height: 16px;*/

/*!* Microcopy Semibold 13px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 600;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*!* identical to box height *!*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* _base.Input Element *!*/

/*box-sizing: border-box;*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 10px 15px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 40px;*/

/*!* Input Background *!*/
/*background: #FFFFFF;*/
/*!* Faint Gray *!*/
/*border: 1px solid #E7E9EB;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Text and icon fill container group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Text and icon group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Search icon container *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 15px Body Standard *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 454px;*/
/*height: 20px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 1;*/


/*!* Body Standard 15px *!*/

/*width: 454px;*/
/*height: 18px;*/

/*!* Body Standard 15px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*font-size: 15px;*/
/*line-height: 18px;*/

/*!* Gray Default *!*/
/*color: #6B7280;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* Chevron and button group *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 16px;*/
/*height: 20px;*/

/*border-radius: 360px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 1;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Checkbox and text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 2;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* Icon and alert text (13px) *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*display: none;*/
/*width: 380px;*/
/*height: 16px;*/

/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 3;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* 🟢Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 0px;*/

/*width: 484px;*/
/*height: 45px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 7;*/
/*align-self: stretch;*/
/*flex-grow: 0;*/


/*!* _base.Button *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: center;*/
/*align-items: flex-start;*/
/*padding: 12px 15px 10px;*/
/*gap: 10px;*/

/*width: 484px;*/
/*height: 45px;*/

/*background: #5302FE;*/
/*border-radius: 6px;*/

/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 1;*/


/*!* 19px Large Body Bold *!*/

/*!* Auto layout *!*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*padding: 0px;*/
/*gap: 10px;*/

/*width: 70px;*/
/*height: 23px;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/


/*!* Large Body Bold 19px *!*/

/*width: 70px;*/
/*height: 23px;*/

/*!* Large Body Bold 19px *!*/
/*font-family: 'Inter';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*font-size: 19px;*/
/*line-height: 23px;*/
/*!* identical to box height *!*/

/*!* White *!*/
/*color: #FFFFFF;*/


/*!* Inside auto layout *!*/
/*flex: none;*/
/*order: 0;*/
/*flex-grow: 0;*/
