/* Content Box */
#meeting_div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* padding: 0; */
    width: 1136px;
    height: 202px;
    background: #FFFFFF;
    border: 1px solid #DDE1E6;
    border-radius: 8px;
}

/* Placeholder / picture */
#img_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* gap: 10px; */
    width: 379px;
    height: 202px;
    /* background: url(Image-placeholder-empty), #DDE1E6; */
    border-radius: 8px 0px 0px 8px;
}

#meeting_img {
    width: 80%;
    height: 80%;
    border-radius: 8px 0px 0px 8px;
}
/* Content */
#content_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 757px;
    height: 202px;
}

.meeting-info {
    margin: 5px 0;
}
/* Title + Category */
.meeting-info #Title_Category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    /* gap: 0; */
    width: 348px;
    height: 46px;
    margin: 0;
}

/* Frame 7 */
/* Category */
.meeting-info span {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.meeting-info #location {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    /* font-size: 12px; */
    line-height: 100%;
    color: #6129FF;
}

/* Title */
.meeting-info h2 {
    width: 348px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 110%;
    color: #21272A;
}

/* Paragraph */
.meeting-info h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #21272A;
}

#meeting_content {
    width: 725px;
    height: 66px;
    padding: 10px 0px;
    font-size: 20px;
}

/* Frame 5 */
#flow {
    display: flex;
    flex-direction: row;
    width:599px;
    /* flex-grow: 10; */
    justify-content: space-between;
    font-weight: 600;
}


/* User-card */
.meeting-info .user-card {
    display: flex;
    padding: 100px;

}


#flowchild {
    display: flex;
    gap:20px;
}
/* User Thumb */
.meeting-info .user-thumb {
    display: flex;

}

/* Details */
.meeting-info .details {
    display: flex;
    flex-direction: row-reverse;
    /* width: auto; */
}