@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';

}

#title {
  width: 80%;

}

#recruits {
  width: 10%;
}

#start_datetime {
  width: 20%;
}

#images {
  width: 20%;
}@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
 }

 * {
   font-family: 'Pretendard-Regular';

 }

 .form-check-input:checked {
   background-color: #5302FE;
   border-color: #5302FE;
 }

 .btn-primary {
   --bs-btn-color: #fff;
   --bs-btn-bg: #5302FE;
   --bs-btn-border-color: #5302FE;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #6129FF;
   --bs-btn-hover-border-color: #6129FF;
   --bs-btn-focus-shadow-rgb: 49, 132, 253;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #6129FF;
   --bs-btn-active-border-color: #6129FF;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #5302FE;
   --bs-btn-disabled-border-color: #5302FE;
 }

 #title {
   width: 80%;

 }

 #recruits {
   width: 10%;
 }

 #start_datetime {
   width: 20%;
 }

 #images {
   width: 20%;
 }