@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
};

.btn-color {
  color: #5302FE;
 }

     .meeting-image {
       top: 0;
       left: 0;
       min-width: 80% !important;
       max-width: 80% !important;

     }

     #container {
        justify-content: center;
     }