/* 마이페이지(생성한 소모임) */
.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aquamarine;
    position: relative;
    /* width: 1440px;
    height: 880px; */
}

/* Rectangle 37 */
.rectangle-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1184px;
    height: 800px;
    left: 256px;
    top: 80px;
    background: #FFFFFF;
    border-left: 2px solid #080707;
}

/* Rectangle 38 */
.rectangle-left {
    /* display: flex; */
    position: absolute;
    width: 256px;
    height: 800px;
    left: 0px;
    top: 80px;
    /* background: #725f5f; */
    background: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 224px;
    height: 800px;
    left: 16px;
    /* top: 80px; */
    background: #FFFFFF;
    /* border: #080707; */
}

/* Menu-item */
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;
    width: 224px;
    height: 48px;
    border: #FFFFFF;
    background: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: #21272A;
    
}

/* icon / jam-icons / outline & logos / home */
.menu-icon {
    width: 24px;
    height: 24px;
}

.selected {
    background: #6129FF;
    color:#FFFFFF;
}