@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
}

#title {
    margin-right: 15px; /* 오른쪽 마진을 추가해 좀 더 예쁘게 보이도록 설정 */
}
button.btn.btn-primary {
    background-color: #5302FE;
    border-radius: 10px;
    width: 72px;
    height: 40px;
}
body {
    background-color: #f8f9fa !important;
}